*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: aqua;
}

ul,ol,li{
    list-style: none;
}
header{
    background-color:burlywood;
    width: 100vw;
    height: 7vh;
}
.logo img{
    height: 50px;
    align-items: end;
    justify-content: end;
}
.logo {
    object-fit: cover;
    display: flex;
    justify-content: end;
    margin-right: 30px;
    float: inline-end;
    padding: 20px;
    
}
main{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}
h1{
    text-align:start;
    padding: 20px;
    font-size: 48px;
    font-family: sans-serif;
    float: inline-start;
}
.ping img{
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
    justify-content:baseline;
}